

div.ThreeDimensionalButtonContainer > div.sampleButtons {
  display: grid;
  grid-template-columns: auto auto auto;
}

div.ThreeDimensionalButtonContainer {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
}