span.ThreeDimensionalButton {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

span.ThreeDimensionalButton > span.ButtonTopContent > text.button-text {
  display: inline-block;
  margin: 30px;
  cursor: pointer;
  color: white;
  text-align: center;
  display: block;
  background: black;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: -26px 26px 16px rgba(0, 0, 0, 0.5);
          box-shadow: -26px 26px 16px rgba(0, 0, 0, 0.5);
}

span.ThreeDimensionalButton > span.ButtonTopContent > text.button-text::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: -20px;
  top: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
}

span.ThreeDimensionalButton > span.ButtonTopContent > text.button-text::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(45deg) scewY(-45deg);
          transform: rotate(45deg) scewY(-45deg);
}

span.ThreeDimensionalButton > span.ButtonTopContent > text.button-text:hover {
  -webkit-transform: perspective(1000px) translate(-10px, 10px);
          transform: perspective(1000px) translate(-10px, 10px);
  -webkit-box-shadow: -20px 20px 18px rgba(0, 0, 0, 0.5);
          box-shadow: -20px 20px 18px rgba(0, 0, 0, 0.5);
}

span.ThreeDimensionalButton > span.ButtonTopContent > text.button-text i {
  color: white;
  font-size: 24px;
}

span.ThreeDimensionalButton-Blue {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

span.ThreeDimensionalButton-Blue > span.ButtonTopContent > text.button-text {
  display: inline-block;
  margin: 30px;
  cursor: pointer;
  color: white;
  text-align: center;
  display: block;
  background: #7575ff;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: -20px 20px 10px rgba(117, 117, 255, 0.4);
          box-shadow: -20px 20px 10px rgba(117, 117, 255, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: -26px 26px 16px rgba(117, 117, 255, 0.4);
          box-shadow: -26px 26px 16px rgba(117, 117, 255, 0.4);
}

span.ThreeDimensionalButton-Blue > span.ButtonTopContent > text.button-text::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: -20px;
  top: 10px;
  background: #5151ff;
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
}

span.ThreeDimensionalButton-Blue > span.ButtonTopContent > text.button-text::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
  background: #5151ff;
  -webkit-transform: rotate(45deg) scewY(-45deg);
          transform: rotate(45deg) scewY(-45deg);
}

span.ThreeDimensionalButton-Blue > span.ButtonTopContent > text.button-text:hover {
  -webkit-transform: perspective(1000px) translate(-10px, 10px);
          transform: perspective(1000px) translate(-10px, 10px);
  -webkit-box-shadow: -20px 20px 18px rgba(117, 117, 255, 0.4);
          box-shadow: -20px 20px 18px rgba(117, 117, 255, 0.4);
}

span.ThreeDimensionalButton-Blue > span.ButtonTopContent > text.button-text i {
  color: white;
  font-size: 24px;
}
/*# sourceMappingURL=3DButton.css.map */